<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TOP</title>
</head>
<body>
	<head>
		<a th:href="">プロフィール編集</a>
	</head>

	<!--投稿-->
	<div>
		<form th:action="@{/posts/createPost}" th:object="${post}" method="post">
			<div>
				<img th:src="${post.iconImage}">
			</div>
			<div>
				<div  th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="valid"></div>
				<textarea th:field="*{content}" placeholder="投稿内容を入力してください"></textarea>
			</div>
			<div>
				<button type="submit"></button>
			</div>
		</form>
	</div>
	
	<!--投稿一覧の表示-->
	<div th:if="${posts} != null" th:each="post : ${postList}">
		<div>
			<img th:src="${post.iconImage}">
		</div>
		<div>
			<p th:text="${post.content}"></p>
		</div>
	</div>

</body>
</html>